<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<html>
<head>
<meta charset="UTF-8">
<title>seats</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link rel="stylesheet" type="text/css" href="seats.css">
</head>
<body>
<div class="sea col-sm-4 ">
<!--c:set var="count" value="0"/>
     <c:forEach items="${bus.seats}" var="seats">
         <c:if test="count<=seat">
<li class="seatl"><input  type="hidden" name="seatId" value="${seats.id}" />
                               <input type="checkbox" id="${seats.id}" class="checkbox" /><label><i class="fas fa-bus chair rotate-0"></i></label></li>&nbsp;&nbsp;&nbsp;&nbsp;
                                       <c:set var="count" value="count+=1"/>
                                       </c:if>
                                       </c:forEach-->
                                       <% for(int i=0; i<=10; i++) { %> 
                                       <li class="seatl"><input  type="hidden" name="seatId" value="${seats.id}" />
                               <input type="checkbox" id="${seats.id}" class="checkbox" /><label><i class="fas fa-bus chair rotate-0"></i></label></li>&nbsp;&nbsp;&nbsp;&nbsp;> <% } %>
</div>
                                       
</body>
</html>
